/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		CLASES ELEMENTALES
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
body {
	/*  Customiza todo la pagina  */
	background-color: rgb(223, 223, 223);
	margin: 0;
	color: rgb(0, 0, 0);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

main{
	/* Customiza la zona principal */
	padding-top: 15vh;
	/*Zen Antique, */
}


section{
	/**/
	padding-top: 0;
	width: 80%;
	max-width: 100vh;
	margin: 0 auto;
	font-size: 20px;
}

header {
	/**/
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}

aside {
	/**/
	width: 5%;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

footer {
	/**/
	width: 100%;
	height: 20vh;
	background-color: rgb(255, 64, 64);
	bottom: 0;
	color: rgb(0, 0, 0);
}

hr{
	margin: 0, 2%, 0, 2%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-inline-start: auto;
    margin-inline-end: auto;
	height: 0.5px;
	background-color: rgb(255, 106, 106);
	border-color: rgb(255, 106, 106);
}	

/*
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
	CLASES DEL HEADER
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
*/

.contenedorLogo {
	/*  Customiza la zona de los logos  */
	margin-left: 5%;
	padding-left: 3vh;
	float: left;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.imagenlogo{
	/*Determina Tamaño del Logo T2*/
	height: 10vh;
	width: auto;
}

.bsas{
	/*Determina tamaño y distancia del logo de BsAs*/
	height: 10vh;
	width: auto;
	padding-left: 3vh;
	float: right;
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.barra{
	/*Fija posicion de la barra de nav.*/
	width: 100%;
	margin-left: 5%;
	position: fixed;
	top: 12vh;
}

.menu-nav{
	/*Fuentes de la barra*/
    display: none;
	font-family: 'Times New Roman', Times, serif;
}

.navigation{ 
	/*Crea el gradiente de colores*/
    background: linear-gradient(0deg,rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
    background-color: rgb(255, 55, 55);
    color: white;
}

.navigation ul li{ 
	/*El inline-block los pone en linea recta y permite customizar el tamaño de los boxes*/
    display: inline-block;
}

.navigation ul li a{ 
	/*Hace el diseño y separacion de cada seccion del navegador*/
    font-size: 1.35vw;
    display:block;
    padding-right: 4.5vw;
	padding-left: 4.5vw;
	padding-top:0.6rem ;
	padding-bottom:0.6rem ;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover{ 
	/*Si mantienes pulsado, cambia el color*/
    background: linear-gradient(180deg, rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
}

/*
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
	CLASES DEL ASIDE
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
*/

.contenedorcostado {
	/*Fija los logos de las redes sociales*/
	position: fixed;
	top: 40%;
	left: 1.5%;
}

.imagenescostado{
	width: 2vw;
}

#rombo{
	margin-left: 0.5vh;
	width: 1.5vw;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
	CLASES DEL MAIN
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@
*/

.banner{ 
	/*La separacion entre las imagenes de las orientaciones de la tecnica 2
	y customizaciones sobre la imagen*/

    padding-right: 100px;
    padding-bottom: 350px;
    padding-left: 100px;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0 0;
}

.imgs{
	/*Contenedor de los contenidos de las orientaciones*/
    display: flex;
	padding-top: 5vw;
	padding-bottom: 5vw ;
	background-color: rgb(28, 27, 27);
	background: linear-gradient(180deg, rgb(24, 24, 24), rgb(31, 31, 31), rgb(41, 41, 41), rgb(49, 49, 49));
}

.linea{
	/*Crea una linea de separacion*/
	height: 0.2vw;
	width: 63vw;
	background-color: rgb(145, 145, 145);
	position: absolute;
	left: 50%;
	border-radius: 1px;
	transform: translate(-50%, -350%);
}

.masinfo{
	width: 100%;
}
/*Diseña el texto emergente de cuando aprietas "mas informacion" en Tecnico Informatica*/
.Subtitul2{
	margin: 0;
	font-size: 1.5vw;
}
.txtinfo{
	margin: 0;
	font-size: 1vw;
}
	/*
	@@@@@@@@@@@@@@@@@@@@@@@
		Tecnico en Informatica
	@@@@@@@@@@@@@@@@@@@@@@@
	*/
	.imagenh1{
		/*Clase sobre Orientacion en Informatica*/
		margin-left: 18.3%;
		width: 30vw;
		height: 30vw;
		background-image: url(Img/Captura.PNG);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.imagenh1:hover .textocent1{
		color: rgb(255, 255, 255);
		transform: translateY(200%);
		transition: all .4s ease-in;
	}
	
	.imagenh1:hover .textoo{
		transition: padding-top 0.2s;
		padding-top: 10%;
	}
	
	.imagenh1:hover .txth{
		animation-name: imgh;
		animation-duration: 0.5s;
		text-align: center;
		opacity: 1;
	}

	.imagenh1:hover .info1{
		color: white;
		transform: translateY(15.6vw);
		transition: all .4s ease-in;
	}
	
	
	.textoo{
		font-weight: 200;
		margin: 0;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 2vw;
		transform: translateX(19%);
		padding-top: 14%;
		position:absolute;
	}

	.txth{
		/*Le da fondo y tamaño al contenedor del texto*/
		width: 29.9vw;
		height: 30vw;
		background-color: rgba(48, 48, 48, 0.378);
		opacity: 0;	
	}
	
	.textocent1{
		/*Diseña el texto sobre la Tecnica de Informatica*/
		margin: 0;
		font-size: 1.2vw;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		transform: translateY(280%);
		color: rgb(49, 49, 49)
	}

	.info1{
		/*Diseña el boton del boton de M.Info en Tecnico en Informatica*/
		margin: 0;
		font-size: 1.2vw;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		transform: translateY(1200%);
		color: rgb(49, 49, 49);
		background-color: transparent;
	}
	
	.info1:hover{
		/*Si mantienes el cursor cambia el fondo*/
		background-color: rgba(209, 209, 209, 0.22);
	}
	/*
	@@@@@@@@@@@@@@@@@@@@@@@
		Maestro Mayor de Obras
	@@@@@@@@@@@@@@@@@@@@@@@
	*/

	.imagenh2{
		margin-left: 3%;
		width: 30vw;
		height: 30vw;
		background-image: url(Img/mmoimg.JPG);
		background-size: contain;
		background-repeat: no-repeat;
	} 

	.imagenh2:hover .info2{
	/*Transicion del boton de Maestro Mayor de Obras*/
		color: white;
		transform: translate(100% ,17vw);
		transition: all .4s ease-in;
	}

	.textoo2{
		margin: 0;
		color: white;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-weight: 200;
		font-size: 2vw;
		padding-left: 8%;
		padding-top: 14%;
		position: absolute;
	}

	.imagenh2:hover .textocent2{
	
		color: rgb(255, 255, 255);
		transform: translateY(250%);
		transition: all .4s ease-in;
	}
	
	.imagenh2:hover .textoo2{
		transition: padding-top 0.2s;
		padding-top: 10%;
	}
	
	.imagenh2:hover .txth2{
		animation-name: imgh;
		animation-duration: 0.5s;
		opacity: 1;
	}

	.txth2{
		width: 29.9vw;
		height: 30vw;
		background-color: rgba(48, 48, 48, 0.378);
		opacity: 0;	
	}
	
	.textocent2{
		margin: 0;
		font-size: 1.2vw;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		text-align: center;
		transform: translateY(350%);
		color: rgb(49, 49, 49)
	}
	
	.info2{
		margin: 0;
		font-size: 1.2vw;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
		transform: translate(100%, 1200%);
		color: rgb(49, 49, 49);
		background-color: transparent;
	}

	/*
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
		Texto Emergente Informatica
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
	*/

	.imgs h1{
		/*Diseño del titulo de "Orientaciones"*/
		font-weight: 200;
		font-size: 2vw;
		color: white;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -200%);
		font-family: 'Montserrat', sans-serif;
	}
	
	.imgs ul{
		display: none;
	}
	
	.imgs ul.show3{
		display: flex;
		width: 35vw;
		height: 30vw;
		background-color: white;
		position: absolute;
		right: 48.6%;
		list-style-type: none;
		transform: translateX(0vw);
		z-index: 1;
		padding: 0;
		margin: 0;
		animation-name: tr2;
		animation-duration: 0.4s;
	}

	.imgs a{
		/*Que este desactivado mientras no pidas el texto escrito*/
		display: none;
	}

	.imgs a.show2{
		/*Permite el contenido de texto de cuando apretas "mas informacion" en Tecnico en Informatica*/
		display: flex;
		width: 35vw;
		height: 30vw;
		background-color: white;
		position: absolute;
		transform: translateX(47.7vw);
		z-index: 1;
		padding: 0;
		margin: 0;
		animation-name: tr;
		animation-duration: 0.4s;
	}

	.cerrar{
		height: 5%;
		width: 4%;
		padding: 0%;
		border-radius: 0px;
		border-width: 0.1px;
		border-color: rgb(208, 208, 208);
		font-size: 1vw;
		font-weight: 500;
		transform: translateX(33.6vw);
		box-shadow: none;
		animation-name: cerrar;
		animation-duration: 0.4s;
	}


	/*
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
		Texto Emergente Maestro Mayor de Obras
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
	*/

	.cerrar2{
		height: 5%;
		width: 4%;
		padding: 0%;
		border-radius: 0px;
		border-width: 0.1px;
		border-color: rgb(208, 208, 208);
		font-size: 1vw;
		font-weight: 500;
		transform: translateX(0vw);
		box-shadow: none;
	}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		Clases del Section
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.titulo{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    font-size: 40px;
	font-weight: 300;
}

.imgHist{
	margin: 3%;
	height: 30vw;
	width: 45vw;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		Clases del Slider de Novedades
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.hrt2{
    margin: 1px;
    position: flex;
    height: 0.5px;
    padding: 1px;
    padding-right: 70vw;
    padding-left: 0vw;
    background-color: rgb(28, 28, 28);
    border-color: rgb(46, 46, 46);
}    

.minmuesnovedades{
    display: block;
    background-color: rgb(28, 27, 27);
    background: linear-gradient(180deg, rgb(24, 24, 24), rgb(31, 31, 31), rgb(41, 41, 41), rgb(49, 49, 49));
    padding-bottom: 5%;
}

.titulon{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-left: 35vw;
    color: white;
}

	/*
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
		CLASES DEL SLIDER (MAS AUN)
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
	*/

	.imagenslide{
		height: 50px;
		width: 1000px;
		
	}
	
	.slide {
		height: 50vh;
		width: 50vw;
		margin-top: 26px;
		margin-left: 28%;
	}
	
	.slide-inner {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: calc( 300px + 3em);
	}
	
	.slide-open:checked + .slide-item {
		position: static;
		opacity: 100;
	}
	
	.slide-item {
		position: absolute;
		opacity: 0;
		-webkit-transition: opacity 0.6s ease-out;
		transition: opacity 0.6s ease-out;
	}
	
	.slide-item img {
		display: block;
		height: auto;
		max-width: 100%;
	}
	
	.slide-control {
		background: rgba(0, 0, 0, 0.28);
		border-radius: 50%;
		color: #fff;
		cursor: pointer;
		display: none;
		font-size: 40px;
		height: 40px;
		line-height: 35px;
		position: absolute;
		top: 10vw;
		-webkit-transform: translate(0, -50%);
		cursor: pointer;
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		text-align: center;
		width: 40px;
		z-index: 1;
	}
	
	.slide-control.prev {
		left: 2%;
	}
	
	.slide-control.next {
		right: 2%;
	}
	
	.slide-control:hover {
		background: rgba(0, 0, 0, 0.8);
		color: #aaaaaa;
	}
	
	#slide-1:checked ~ .control-1,
	#slide-2:checked ~ .control-2,
	#slide-3:checked ~ .control-3 {
		display: block;
	}
	
	.slide-indicador {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0%;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 1;
		top: 19vw;
	}
	
	.slide-indicador li {
		display: inline-block;
		margin: 0 5px;
	}
	
	.slide-circulo {
		color: #828282;
		cursor: pointer;
		display: block;
		font-size: 35px;
	}
	
	.slide-circulo:hover {
		color: #aaaaaa;
	}
	
	#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
	#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
	#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
		color: #428bca;
	}

	/*
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
		CLASES DEL SLIDER (CIERRE ._:)
		@@@@@@@@@@@@@@@@@@@@@@@@@@@
	*/

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		INFORMACION SOLO MOBILE DE LAS ORIENTACIONES (TEC. INFO Y MAESTRO MAYOR DE OBRAS)
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.inftec{
	/*Informacion de Tecnico en Informatica (div)*/
    display: none;
    width: 80%;
    max-width: 100vh;
    margin: 0 auto;
    font-size: 20px;
}

.mmo{
	/*Informacion de MMO(div)*/
    display: none;
    width: 80%;
    max-width: 100vh;
    margin: 0 auto;
    font-size: 20px;
}

.hrt{
    position: flex;
    height: 0.5px;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    background-color: rgb(28, 28, 28);
    border-color: rgb(46, 46, 46);
    margin-top: 5px;
}

.tituloc{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 3000;
}

.Subtitul{
    font-weight: 300;
    font-size: 25px;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		CLASES DEL FOOTER
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.contfooter{
    bottom: 0;
    margin-left: 5%;
    text-align: center;
    background-color: rgb(255, 64, 64);
}

.contfooter ul a{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.ulfooter{
    padding-right: 25vh;
    list-style-type: none;
    display: inline-block;
    color: white;
}

.ulfooter li{
    padding-top: 10px;

}

.ulfooter li a{
    /**/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(223, 223, 223);
}

.ulfooter li a:hover{
    color: white;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		CLASES DEL COPYRIGHT
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

#copy{
	background-color: rgb(255, 64, 64);
}

.contcopy{
	margin-left: 7%;
	background-color: rgb(255, 64, 64);
}

.Copyright{
	/**/
	position: relative;
	color: white;
	font-size: 15px;
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		ANIMACIONES
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

@keyframes tr{
	/**/
	from{
		width: 0vw;
	}
	to{
		width: 35vw;
		
	}
}

@keyframes cerrar{
	from{
		transform: translateX(0vw);
	}
	to{
		transform: translateX(33.7vw);
	}
}

@keyframes tr2{
	/**/
	from{
		width: 0vw;
	}
	to{
		
		width: 35vw;
	}
}

@keyframes imgh{
	/**/
	from{
		background-color: rgba(94, 94, 94, 0);
	}
	to{
		background-color: rgba(48, 48, 48, 0.378);
		
	}
}

/*
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
		MEDIA QUERIES
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
	@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

@media only screen and (max-width: 1270px){
	/**/

	.Subtitul2{
		margin: 0;
		font-size: 2vw;
	}
	
	.txtinfo{
		margin: 0;
		font-size: 1.2vw;
	}

	.titulon{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
    padding: 0%;
        color: white;
    }
	
	.cerrar{
		height: 5%;
		width: 4%;
		padding: 0%;
		border-radius: 0px;
		border-width: 0.1px;
		border-color: rgb(208, 208, 208);
		font-size: 1vw;
		font-weight: 500;
		transform: translateX(38.4vw);
		box-shadow: none;
		animation-name: cerrar;
		animation-duration: 0.4s;
	}

	@keyframes cerrar{
		from{
			transform: translateX(0vw);
		}
		to{
			transform: translateX(38.4vw);
		}
	}

	.imagenh1{
		margin-left: 12%;
		width: 35vw;
		height: 35vw;
	}

	.txth{
		width: 35vw;
		height: 35vw;
	}

	.textocent1{
		transform: translateY(350%);
	}

	.imagenh1:hover .textocent1{
	
		color: rgb(255, 255, 255);
		transform: translateY(250%);
		transition: all .4s ease-in;
	}

	.textoa1{
		transform: translateY(250%);
	}

	.bgo{
		width: 35vw;
		height: 35vw;
	}

	.imgs a.show2{
		width: 41vw;
		height: 35vw;
		transform: translateX(46.9vw);
	}

	.textoo{
		transform: translateX(35%);
	}

	@keyframes tr{
		/**/
		from{
			width: 0vw;
		}
		to{
			
			width: 41vw;
		}
	}

	.imagenh2{
		margin-left: 6%;
		width: 35vw;
		height: 35vw;
	}

	.txth2{
		width: 35vw;
		height: 35vw;
	}

	.bgo2{
		width: 35vw;
		height: 35vw;
	}

	.imgs ul.show3{
		width: 41.5vw;
		height: 35vw;
		transform: translateX(1.5vw);
	}
	
	.textoo2{
		transform: translateX(12%);
		
	}

	
	@keyframes tr2{
		/**/
		from{
			width: 0vw;
		}
		to{
			
			width: 41.5vw;
		}
	}


	
	
	.contfooter{
		margin-left: 0;
	}

	.ulfooter{
		text-align: center;
		margin-left: 0;
		padding-right: 5vh;
		padding-left: 5vh;
	}

	hr{
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.contcopy{
		text-align: center;
		margin-left:0;
	}

	.contenedorLogo{
		margin: 0;
		
	}
    
    .menu-nav{
		margin-top: 2vh;
        background-color: rgb(29, 29, 29);

		Color: rgb(255, 255, 255);	
		text-align: center;
		padding: 1vh;
        display: block;
        cursor: pointer;

		font-size: 4vh;
    }

	.barra{
		width: 100%;
		margin-left: 0;
		position: fixed;
		top: 12vh;
	}

    .navigation{
        background: linear-gradient(0deg,rgb(255, 64, 64), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));

        background-color: rgb(252, 55, 55);
        color: white;

		overflow-y: scroll; 
	
    }
    
    .navigation ul{
        display: none;
    }
	
	:root{
		--nav-hg-altura: 37vh;
	}

    .navigation ul.show {
        display: block;
		margin: 0;
		padding: 0;

		Color: rgb(255, 255, 255);		
		
		height: var(--nav-hg-altura);
		animation-name: slide;
		animation-duration: 0.5s;
    }

		
	@keyframes slide{
		/**/
		from{
			height: 0px;
		}
		to{
			height: var(--nav-hg-altura) ;
		}
	}

    .navigation ul li{ 
        display: block;
    }
    
    .navigation ul li a{ 
		padding: 1.45vh;
        font-size: 4vh;
        display:block;
        color: white;
        text-decoration: none;
		text-align: center;
    }
    
    .navigation ul li a:hover{ 
		/**/
        background: linear-gradient(180deg, rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
    }

	/*actualizate plis*/


	aside{
		display: none;
	}
}
@media only screen and (max-width: 1300px){
	/**/
	.localidad{
		display: none;
	}
}

@media only screen and (max-height: 200px){
	/*monitor de 2 centimetros*/
	.contenedorLogo{
	display: flex; /*gracias youtube y gabi*/
	}
}

@media only screen and (max-width: 940px){
	
.masinfo{
	display: none;
}

.imgs a.show2{
	display: none;
}

.bgo{
	display: none;
}

.tituloabierto{
	display: none;
}


.imgs{
	display: block;
}

.imgs h1{
	position: relative;
	font-size: 7vw;
	text-align: center;
	transform:translate(-50%, 50%) ;
	width: 50vw;
}

.linea{
	height: 0.3vw;
	width: 90%;
}

.info1{
	display: none;
}		

.imagenh1{
	margin: 0;

	width: 100%;
	height: auto;

	background-size: cover;
}

.textoo{
	width: 75%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	font-size: 7vw;
	padding-top: 15%;
	word-break: break-all;
}

.imagenh1:hover .textoo{

	transition: padding-top 0.2s;
	padding-top: 10%;
}

.txth{
	width: 100%;
	height: 100vw;
}

.textocent1{
	transform: translateY(150%);
	font-size: 5vw;
}

.imagenh1:hover .textocent1{

	transform: translateY(100%);
}


.imagenh2{
	margin: 0;

	width: 100%;
	height: auto;

	background-size: cover;
}

.txth2{
	width: 100%;
	height: 100vw;
}

.textoo2{
	width: 75%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	font-size: 7vw;
	padding-top: 15%;
	word-break: break-all;
}

.textocent2{
	transform: translateY(200%);
	font-size: 5vw;
}

.imagenh2:hover .textocent2{

	transform: translateY(120%);
}

.info2{
	display: none;
}



/* lo nuevo*/
.slide {

    height: 30vh;
    width: 70vw;

    margin-top: 26px;
    margin-left: 15%;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    top: 31vw;
}


.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 20vw;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 1;
}


.minmuesnovedades{
    display: block;
    background-color: rgb(28, 27, 27);
    background: linear-gradient(180deg, rgb(24, 24, 24), rgb(31, 31, 31), rgb(41, 41, 41), rgb(49, 49, 49));
    padding-bottom: 30%;
}

.titulon{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 0%;
}

.inftec{
	display: block;
	width: 80%;
	max-width: 100vh;
	margin: 0 auto;
	font-size: 20px;


}

.mmo{
	display: block;
	width: 80%;
	max-width: 100vh;
	margin: 0 auto;
	font-size: 20px;

}
}


/*


CLASES RARAS?


*/
.bgo{
	width: 29.9vw;
	height: 30vw;
	background-color: rgb(49, 49, 49);
	text-align: center;
}

.tituloabierto{
	font-weight: 200;
	margin: 0;
	color: white;
    font-family: 'Montserrat', sans-serif;
	font-size: 2vw;
    transform: translate(19%);
	padding-top: 10%;
	position:absolute;
}
.textoa1{
	margin: 0;
	font-size: 1.2vw;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	transform: translateY(200%);
	color: rgb(255, 255, 255)
}
.chauinfo{
	display: none;
}
.bgo2{
	width: 29.9vw;
	height: 30vw;
	background-color: rgb(49, 49, 49);
	text-align: center;
}
.textoa2{
	margin: 0;
	font-size: 1.2vw;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	transform: translateY(200%);
	color: rgb(255, 255, 255)
}
.tituloabierto2{
	margin: 0;
	color: white;
    font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 200;
	font-size: 2vw;
	padding-left: 8%;
	position: absolute;
	padding-top: 10%;
}
.chauinfo2{
	display: none;  
}
.textoa2{
	margin: 0;
	font-size: 1.2vw;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	text-align: center;
	transform: translateY(250%);
	color: rgb(255, 255, 255)
}
.mostrar{
    padding: 0;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/*

CLASES RARAS?

*/