/*  El futoro hoy  */
body{ /*  Customiza todo la pagina  */
    background-color: rgb(218, 218, 218);
    margin: 0;
    color: rgb(0, 0, 0);
}          

main{ /*  Customiza la zona del contenido principal  */
    padding-top:10%;
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}
.body2{
    bottom:200px;
}

.logo_texto{
    display: flex;
}
.contenedorLogo{ /*  Customiza la zona de los logos  */                  
    margin-left: 5%;
    padding: 10px;
}

.contenedorcostado{ /*  Customiza  */
    margin-left: 30%;
    margin-top: 450%;
}

.logotitulo{ /**/
    font-family: calibri;
    font-size: 65px;
    vertical-align: top;
    margin-left: 2%;
    white-space: nowrap;
    
}

.titulos{
    margin-top: 20px;
}

.logosubtitulo{ /**/
    font-family: calibri;
    font-size: 20px;
    vertical-align: bottom;
    margin-left: 5%;
    
}

header{ /**/
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.menu-nav{
    display: none;
}

.barra{ /**/
    width: 100%;
    margin-left: 5%;
    position: fixed;
    top: 120px;
}

.navigation{ /**/
    background: linear-gradient(0deg,rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
    
    background-color: rgb(255, 55, 55);
    color: white;
}

.navigation ul li{ /**/
    display: inline-block;
}

.navigation ul li a{ /**/
    font-size: 30px;
    display:block;
    padding: 0.5rem 5rem;
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover{ /**/
    background: linear-gradient(180deg, rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
}

.costado{ /**/
    width: 5%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
    
footer{ /**/
    width: 100%;
    height: 200px;
    background-color: rgb(255, 78, 78);
    bottom: 0;
    color: white;
    font-family: monospace; 
}

.footer-text{ /**/
    margin-left: 5%;
}

.rombo{
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom:5px;
}

/*LOS ODIO LOS ODIO */





@media only screen and (max-width: 1725px){
    
    .menu-nav{
        display: block;
        cursor: pointer;
    }

    .navigation{ /**/
        background: linear-gradient(0deg,rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
        
        background-color: rgb(255, 55, 55);
        color: white;
    }
    
    .navigation ul{
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li{ /**/
        display: block;
    }
    
    .navigation ul li a{ /**/
        font-size: 30px;
        display:block;
        padding: 0.5rem 5rem;
        color: white;
        text-decoration: none;
    }
    
    .navigation ul li a:hover{ /**/
        background: linear-gradient(180deg, rgb(255, 78, 78), rgb(180, 53, 51), rgb(175, 54, 58), rgb(143, 45, 42));
    }
}